body {
    background: url("../images/fuulstack.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 4px 4px rgba(0,0,0,0.9);
    position: relative;
}

.home {
    margin-top: 100px;
    height: 100vh;
    width: auto;
    
}

.labels {
    text-align: center;
    margin: 2em;
}
button{
    background: none;
    border: none;
}
.label {
    color: white;
    position: relative;
    font-size: 2em;
}
.label:hover {
    color: black;
    background: white;
    transition-duration: 300ms;
    
}
.label::after {
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    border-radius: 6px;
}

label {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 0 4px 4px rgba(0,0,0,0.9);
}
input, textarea {
    box-shadow: 0 4px 4px rgba(0,0,0,0.9);
}
#contact-form {
    position: relative;
    padding: 20px;
}
#contact-form::after {
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    border-radius: 6px;
}

.homeIcon {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-image: url("../images/home_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.homeIcon:hover{
    cursor: pointer;
}

#portfolio-section {
    position: relative;
    color: white;
    padding: 20px;
}
#portfolio-section::after {
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    border-radius: 6px;
}

.portfolioItems {
    margin-bottom: 20px;
    overflow: auto;
    white-space: nowrap;
}

/*_____________________________- Portfolio Items -__________________________*/
.itemCard {
    display: inline-block;
    width: 200px;
    word-wrap: break-word;
    white-space: normal;
    height: 200px;
    padding: 10px;
    background: whitesmoke;
    color: darkslategray;
    margin: 0px 15px 10px 15px;
    box-shadow: 0 12px 10px -6px black;
}
.itemTitle {
    font-size: 20px;
    font-weight: bold;
    overflow: auto;
    color: black;
}
.itemTitle:hover {
    cursor: pointer;
}
.itemDescription {
    overflow: scroll;
    height: 70%;
}
.itemLink {
    display: inline-block;
    height: 10%;
    text-decoration: none;
}
.repoLink {
    color: gold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
.deployedLink {
   margin-left: 20px;
}




/*__________________________________________- Resources -_____________________________________________*/
#resources-items {
    color: white;
    position: relative;
}
#resources-items::after {
    background: black;
    opacity: .6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: "";
    border-radius: 6px;
}