body {
    background: url("../images/fuulstack.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-size: 500%;
    color: white;
    text-shadow: 0 4px 4px rgba(0,0,0,0.9);
}