body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  /* background-image: linear-gradient(to bottom, #004EFF, white); */
  background-image: url('/assets/fullstack.png');
  background-repeat: no-repeat;
  background-size: cover;
=======
>>>>>>> parent of 9f996d8e... initial portfolio remake with react
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
